{% extends "images/base.html" %} {% block content %}
<div class="courses">
    <h1>About Us</h1>
    <div style="text-align: center;">
        <p style="font-size: 20px">We are</p>
        <div class="zoom" style="display:inline-block;">
            <a style ="font-size:20px;" href="https://github.com/hpmalinova">Hrisi</a>
            <p style="display:inline-block;">&</p>
            <a style ="font-size:20px;" href="https://github.com/TsvetomirTsvetkov">Tseko</a>
        </div>

        <p>(Team Crocodile)<br><br>and this is our final project for HackBulgaria's<br>"Programming 101 with Python"<br>course.</p>
        <div class="zoom">
            <h1 style="font-size:20px;"><a href="https://github.com/hpmalinova/Share-with-me">Project Repository</a></h1>
        </div>
    </div>
</div>
{% endblock %}