{% load static %}
<link rel="stylesheet" href="{% static 'drive/style.css' %}">
<style>
    body {
        background-color: #eaeaea;
        margin:0;
    }
</style>

<div class="menu">
        
        <!-- <span style="z-index: -50;" class="dot2"></span> -->
        
        <ul>
            <li style="float: left; "><a href="javascript:history.back()">Back</a></li>
            <li style="float:left; padding-left: 150px; font-weight: bold;"><a href="{% url 'drive:images:base' %}">ShareWithMe</a></li>
            <li><a href="{% url 'drive:images:courses' %}">Courses</a></li>
            <li><a href="{% url 'drive:images:base' %}">Home</a></li>
            <li><a href="{% url 'drive:images:base' %}"><img src="/static/mg.png" alt="Search" width="22.5" height="22.5"></a></li>
        </ul>
        {% if request.path == "/home/" %}
        
        <span class="dot"></span>
        <div class="center findforme">
            <h1 style="color: #949494;">Find For Me</h1>
        </div>
        <div class="center sharewithme">
            <form method="GET" action="{% url 'drive:images:search'%}" id="searchform">
                <input style="color: #949494; font-weight: bold; font-size: 25px; background-color: #FFFFFF; border-radius: 0.3em;" size="16" class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search..."/>
                <button style="border: none; height:32; background-color: #ff0040;" type="submit"><img src="/static/mg.png" alt="Search" width="22.5" height="22.5"></button>
            </form>
            <p>You can use the search engine<br>or just navigate the site<br>through the menu<br>on top</p>
        </div>
        {% endif %}
</div>
{% block content %} {% endblock %}