{% extends "images/base.html" %} {% block content %}
<div class="courses">
    <div class="center">
        <p style="display:inline; text-align: left;"> Uploaded: {{image.created_at}} </p>
    </div>

    {% if image.description %}
    <div class="center">
        <p style="text-align:center; display:inline;     top:50%"> Description: {{image.description}} </p>
    </div>
    {% endif %}

    {% if image.file %}
        <div class="center">
            <img style="max-height: 50%; max-width: 50%;" src="{{image.image.url}}" />
            
        </div>
        <div class="center">
            <button style=><a href="{{image.file.url}}">Download File</a></button>
        </div>
    {% else %}
    <div class="center">
        <img style="max-height: 50%; max-width: 50%;" src="{{image.image.url}}" />
    </div>
    {% endif %}
</div>
{% endblock %}