{% extends "images/base.html" %} {% block content %}

<h3><a href="{% url 'drive:images:list' path %}" 
    style="float: right;">Back</a></h3>

<p> Created at: {{image.created_at}} </p>

{% if image.description %}
<p> Description: {{image.description}} </p>
{% endif %}

{% if image.file %}
    <u><a href="{{image.file.url}}">Download File</a></u>
{% else %}
    <img src="{{image.image.url}}" />
{% endif %}

<h1> Comments: </h1>
<u><a href="{% url 'drive:images:add_comment' path image.id%}" style="float: right;">Add comment</a></u>

{% if comments %}
<ul>
  {% for comment in comments %}
    <hr>
    <p>Created: {{comment.created_at}}</p>
    <p>Username: {{comment.username}}</p>
    <p>Comment: {{comment.comment}}</p>
    <hr>
  {% endfor %}
</ul>
{% else %}
<p><strong>No comments yet.</strong></p>
{% endif %}

{% endblock %}