{% extends "images/base.html" %} {% block content %}

<div class="courses">
    <ul class="center sharewithme">
        <h1>{{course.subject}} files</h1>
        <p style="text-align:right"><a href="{% url 'drive:images:upload_file' path %}">Upload file</a></p>
        {% if images %}
            {% for image in images %}
                <li style="position:static;display:inline-table;"><a href="{% url 'drive:images:detail' path image.id %}">{{ image.image_tag }}</a></li>
            {% endfor %}

        {% else %}
            <li style="text-align: center;font-size: 50px;">No files yet.</li>
    {% endif %} 
    </ul>




{% endblock %}
