{% extends "images/base.html" %} {% block content %}
<h1>Choose Speciality</h1>
{{request.path}}{{course_id}} <!--Delete later-->
<ul>
    <li><a href="{% url 'drive:images:subject' course_id=course_id spec='cs' %}">Computer Science</a></li>
    <li><a href="{% url 'drive:images:subject' course_id=course_id spec='se' %}">Sowtware Engineering</a></li>
    <li><a href="{% url 'drive:images:subject' course_id=course_id spec='in' %}">Informatics</a></li>
    <li><a href="{% url 'drive:images:subject' course_id=course_id spec='ma' %}">Mathematics</a></li> 
    <li><a href="{% url 'drive:images:subject' course_id=course_id spec='it' %}">IT Systems</a></li>
    <li><a href="{% url 'drive:images:subject' course_id=course_id spec='st' %}">Statistics</a></li>
    <li><a href="{% url 'drive:images:subject' course_id=course_id spec='am' %}">Applied Mathematics</a></li>
    <li><a href="{% url 'drive:images:subject' course_id=course_id spec='mi' %}">Mathematics and Informatics</a></li>
</ul>
{% endblock %}

<!--
"{% url 'drive:images:subject' spec='cs' %}">
"{% url 'drive:images:subject' spec='se' %}">
"{% url 'drive:images:subject' spec='in' %}">
"{% url 'drive:images:subject' spec='ma' %}">
"{% url 'drive:images:subject' spec='it' %}">
"{% url 'drive:images:subject' spec='st' %}">
"{% url 'drive:images:subject' spec='am' %}">
"{% url 'drive:images:subject' spec='mi' %}">
-->