{% extends "images/base.html" %} {% block content %}
<div class="courses">
    <h1>Choose Specialty</h1>
    <div style="position: absolute; top:39.5%; right:80%;" class="circle"></div>
    <div style="position: absolute; top:39.5%; right:15%;" class="circle"></div>
    {% if specialties %}
      <ul>
        {% for specialty in specialties %}
        <li><a href="{% url 'drive:images:subject' course specialty %}">{{specialty}}</a></li>
        {% endfor %}
      </ul>
      <div class="center_text">
              <p>Choose the speciality for which<br>you want to<br>lookup / upload</p>
      </div>
    {% else %}
      <div class="center sharewithme">
          <p><strong>No specialties yet.</strong></p>
      </div>
    {% endif %} 
</div>
{% endblock %}