{% load static %}
<style>
    body {
        background-color: #ff0040;
    }
</style>
<link rel="stylesheet" href="{% static 'drive/style.css' %}">
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
</style>
<body>
  <div class="courses">
    <div class="footer">
        <p style="color: white;"> Subjects: {{num_subjects}} </p>
        <p style="color: white;"> Files: {{num_files}} </p>
        <p style="color: white;">You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
    </div>
  </div>

    <div class="welcome">
        <div class="center sharewithme" style="height: 100px;">
            <button onclick="location.href={% url 'drive:home:base' %}" type="button"><span><a class="welcome" href="{% url 'drive:home:base' %}">SHAREWITHME</a></span></button>
        </div>
    </div>
</body>
