body {
    background-color: black;
}
h2, h3, li {
    color: white;
    display: inline;
}

h3 {
    border: 2px solid white;
    display:inline;
    text-align: right;
    color: white;
}

h1 {
    border: 2px solid white;
    display:inline;
    text-align: center;
    color: white;
}

p {
    color: white;
}

label {
    color:white;
}


a {
    color: white;
    display: inline;
    text-decoration: none;
}

.center {
    width: 100%;
    text-align: center;
}

.vertical {
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.center.vertical {
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    width: 100%;
    text-align: center;
}

.center.vertical2 {
    width: 100px;
    height: 100px;
    position: absolute;
    top:100;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    width: 100%;
    text-align: center;
}

.center.search {
    background-color:black;
    height: 30px;
    top: 10px;
    width:150%;
    margin: auto;
    text-align: left;
    position:relative;
    display:inline;
}
