.sharewithme {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: blockletter;
    margin: auto;
    font-size: 50px;
}

button {width: 6em; height: 100%; background-color: #ff0040; font-size: 50px; font-family: blockletter; color: white; border: none;}
button:hover span {display: none}
button:hover:before {content: "ENTER"}

.center {
    width: 100%;
    text-align: center;
}

/* a */

a {
    font-family: 'blockletter';
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
  color: white;
}

/* a */

h1 {
    display: inline;
    text-align: center;
    color: white;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Blockletter Font */
@font-face {
  font-family: 'blockletter';
  src: url('fonts/blockletter.otf') format("truetype");
}