#topMenu {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  background-color: #3A3D70;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #ff0040;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 300;
  left: -352;
  right: 0;
  margin: auto;
}

.dot2 {
  height: 115px;
  width: 100px;
  background-color: #ff0040;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 600;
  left: -800;
  right: 0;
  margin: auto;
}

.sharewithme {
  width: 100px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: blockletter;
  margin: auto;
  font-size: 50px;
}

.findforme {
    width: 100px;
    height: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: blockletter;
    margin: auto;
    font-size: 50px;
}

.center {
    width: 100%;
    text-align: center;
}

.welcome button {
    width: 6em;
    height: 100%;
    background-color: #ff0040;
    font-size: 50px;
    font-family: blockletter;
    color: white;
    border: none;
}

.welcome button:hover span {
    display: none;
}

.welcome button:hover:before {
    content: "ENTER";
}

.welcome a {
    display: block;
    font-family: 'blockletter';
    text-decoration: none;
    padding: 8px;
    background-color: #ff0040;
    color: white;
}


.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff0040;
  border-bottom: 4px solid white;
  position:relative;
  z-index: 5;
}

.menu li a:hover {
  background-color: #ff2040;
  display: block;
}

.menu li {
  float: right;
}

.menu a {
    display: block;
    font-family: 'blockletter';
    text-decoration: none;
    padding: 8px;
    background-color: #ff0040;
}

.menu a:link {
    color: white;
    background-color: #ff0040;
}

.menu a:visited {
  color: white;
  background-color: #ff0040;
}

.menu h1 {
    display: inline;
    text-align: center;
    color: white;
}

.menu p {
  font-size: 15px;
  color: #949494;
  font-family: 'blockletter';
}

/* COURSES */

.courses a {
    display: inline;
    font-family: 'blockletter';
    text-decoration: none;
    padding: 8px;
}

.courses a:link {
  color: #949494;
}

.courses a:visited {
  color: #949494;
}

.courses li {
  text-align: center;
}

.courses ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #949494;
  position:relative;
  font-size: 50px;
}

.courses h1 {
  font-family: 'blockletter';
  font-size: 70px;
  text-decoration: none;
  text-align: center;
  color: #949494;
}

.courses p {
  font-size: 15px;
  color: #949494;
  font-family: 'blockletter';
}

.rectangle {
  height: 150px;
  width: 10px;
  background-color: #ff0040;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: #ff0040;
  border-radius: 50%;
}

/* Blockletter Font */
@font-face {
  font-family: 'blockletter';
  src: url('fonts/blockletter.otf') format("truetype");
}